@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

body{

font-family: 'Oxygen';
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-inverse{
	background-color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: black;
}

.navbar-nav>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}


.navbar {
	min-height: 75px;
}

.nav>li{
	margin-top: 30px;
	margin-left:20px;
	border-radius: 15%;
	background: #fff;
}

.nav>li:hover{
	background: #252525;
}

.navlogo {
	height:300%;
	margin-top:-10px;
}

nav.navbar.shrink {
  min-height: 50px;
}

.navlogo-shrink{
	height: 200%;
}

.nav>li.nav-li-shrink{
	margin-top: 10px;
	border: none;
}

#bs-example-navbar-collapse-1{
	-vendor-animation-delay: 2s;
}

.feature-panel {
  color: #777;
  font-size: 17px;
  line-height: 27px;
}

.feature-panel blockquote {
	margin: 0 0 10px 0;
	font-size: 17px;
  	border-color: #f97352;
}

.feature-panel li {
	color : #777;
}

.feature-panel h2 {
	color: #252525;
	letter-spacing: 2px;
	font-size: 23px;
	font-weight: bold;

}

.feature-video h3 {

	margin-top: 4px;
}

.feature-video .well {

	margin: 0px;
	padding-top: 10px;

}


footer {

    background-color: #252525;
    position: relative;
    height: 200px;
    margin: 0;
    padding: 40px 20px 200px 200px ;
    max-width: 100%;
    overflow: hidden;
    color: #fff;

}

footer p {

	font-size: 23px;
}

footer ul {
	color: #777;
	list-style : none;
	padding: 0;
	margin: 0;
}

footer  li:before {
	padding: 8px;
	content: ">";
}

